<div class="container">
    
          <!-- begin logo -->
          <h1 class="logo"><a class="navbar-brand" href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">{{ site.title_left }}<span>{{ site.title_right }}</span></a></h1>    
    
          <!-- end logo -->

          <!-- begin main-nav -->
          <nav class="main-nav">

            <div class="main-nav__box">
              <i class="nav__close ion ion-md-close"></i>
              <ul class="nav__list list-reset">
                <li class="nav__item">
                  <a href="{{ site.baseurl }}/" class="nav__link">Home</a>
                </li>
                {% for page in site.pages %}
                  {% unless page.name == 'tags.html' or page.name == '404.html' %}
                {% if page.title %}
                <li class="nav__item">
                  <a href="{{ page.url | prepend: site.baseurl }}" class="nav__link">{{ page.title }}</a>
                </li>
                {% endif %}
                  {% endunless %}
                {% endfor %}
              </ul>
            </div>

          </nav>
          <!-- end main-nav -->

          <div class="header__overlay"></div>
        
  </div>
